:root{
    --cor1:#f89f1b;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width:100%;
    height:100%;
    background-color:var(--cor1);
}
.container{
    max-width:1280px;
    margin:0 auto;
    padding:0 2%;
}

header > .container{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
header{
    width:100%;
    height:70px;
    background-color:#fff;
    border-top:2px solid var(--cor1);
}

.logo img{
    width:80px;
    margin-top:5px;
}


/* ************ */
/* MENU DESKTOP */
/* ************ */


nav.menu-desktop{
    margin:15px 0;
}

nav.menu-desktop ul{
    list-style:none;
}
nav.menu-desktop ul li{
    display: inline-block;
    margin: 10px;
}
nav.menu-desktop ul li a{
    position: relative;
    text-decoration:none;
    font-size:18px;
    color:var(--cor1);
}
nav.menu-desktop ul li a:after{
    transition-delay:1s;
}
nav.menu-desktop ul li a:hover:after{
    content:'';
    font-weight:bold;
    position: absolute;
    left:0;
    top:25px;
    width:50px;
    height: 4px;
    background-color: var(--cor1);
}

/* ************ */
/* MENU MOBILE */
/* ************ */


nav.menu-mobile{
    width:100%;
    display:none;
}
ion-icon{
    float:right;
    font-size:35px;
    margin-top:10px;
    cursor: pointer;
    user-select:none;
    color:var(--cor1);
}

nav.menu-mobile ul{
    display:none;
    list-style:none;
    position: absolute;
    left:0;
    top:60px;
    width:100%;
    text-align:center;
    z-index:1;
    transition-delay:1s;
    background-color:#fff;
}
nav.menu-mobile ul.active{display:block;}

nav.menu-mobile ul li{
    width:100%;
    padding:8px;
    border-bottom:1px solid var(--cor1);
    
}
nav.menu-mobile ul li:hover{
    background-color:#ebebeb;
}
nav.menu-mobile ul li a{
    text-decoration:none;
    color:var(--cor1);
    display:block;
}


/* ************ */
/* MENU SLIDER */
/* ************ */


section.slider{
    width:100%;
    height:700px;
    position:relative;
    background-color: var(--cor1);
    filter: saturate(0.5);
}
section.slider .container{
    display: flex;
}
section.slider img{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    width:100%;
    height:100%;
    opacity:0;
    transition:1s;
}
.bullets{
    text-align: center;
    position: absolute;
    left:46%;
    top:90%;
}
.bullets-single{
    margin:0 8px;
    border-radius:10px;
    cursor:pointer;
    display:inline-block;
    width:20px;
    height:20px;
    background-color:#fff;
}
.active-bullets{
    background-color:var(--cor1);
}


/* ************ */
/* MENU SABOR */
/* ************ */

span{
    display: flex;
    align-items: center;
    justify-content: center;
}

span img{
    margin:40px 20px;
}
span p{
    font-size:25px;
    color:#fff;
}

section.sabor{
    width:100%;
    max-height:1000;
    background-color:var(--cor1);
}

.box-single{
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
}

.box-jarra{
    margin-top:50px;
    text-align: center;
    animation-delay:1s;
    animation-name: animacao;
    animation-duration:infinite;
}

.box-jarra h3{
    font-size:50px;
    color:#fff;
    margin:10px 0;
    opacity:0.5;
}

.box-suco{
    text-align: center;
    margin:30px 0;
    
}
.box-suco img{
    width:80px;
    cursor:pointer;
    position: relative;
    padding:10px 0;
    border:2px solid rgba(240, 240, 240, 0.63);
    background-color:rgba(255, 255, 255, 0.212);
}


/* ************ */
/* SESSÃO SOBRE */
/* ************ */


section.sobre{
    width:100%;
    height:100%;
    margin:50px 0;
    padding:30px 0;
    text-align: center;
    background-color:#fff;
}

section.sobre h2{
    font-size:40px;
    color:var(--cor1);
    margin-bottom: 15px;
}
section.sobre p{
    color:var(--cor1);
    line-height:30px;
}

#videoYT{
    width:100%;
    min-height:500px;
    background-color:var(--cor1);
}


/* ************ */
/* SESSÃO CONTATO */
/* ************ */


section.contato{
    width:100%;
    height:450px;
    position:relative;
    margin-bottom:50px;
    text-align: center;
}

section.contato h2{
    font-size:40px;
    margin-top:50px;
    color:#fff;
}

form{
    width:100%;
    margin-top:20px;
    padding:0 1%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.nome{width:510px;display: flex;margin:5px 0;}

input[type=text]{
    width:300px;
    height:35px;
    margin:5px;
    color:#333;
    padding-left:8px;
    outline:none;
    border:0;
}
input[type=email]{
    width:500px;
    height:35px;
    color:#333;
    margin:5px;
    padding-left:8px;
    outline:none;
    border:0;
}
textarea{
    width:500px;
    margin:5px;
    resize:none;
    color:#333;
    padding:8px;
    outline:none;
    border:0;
    overflow-y: auto;
}

input[type=submit]{
    width:100px;
    height:40px;
    margin-top:15px;
    outline:none;
    border:0;
    font-weight:500;
    color:var(--cor1);
    background-color: #fff;
    transition:1s;
}
input[type=submit]:hover{
    background-color:#0a0a0a;
    color:#fff;
}

footer{
    width:100%;
    height:55px;
    text-align: center;
    background-color:#0a0a0a;
}
footer p{
    color:#fff;
    padding-top:20px;
}


span.close{
    width:25px;
    height:25px;
    position: absolute;
    top:-10px;
    right:-10px;
    border-radius:50px;
    background-color: red;
    cursor: pointer;
}
.popap{
    display: none;
    position: absolute;
    top:1%;
    left:50%;
    text-align: center;
    border-radius:10px;
    transform:translateX(-50%);
    width:600px;
    height:50px;
    padding:0 2%;
    color: #fff;
    background-color:rgb(13, 179, 21);
    transition:1.5s;
}
.popap h3{
    font-size:24px;
    margin:10px 0;
}
.popap.active{display: block;}


/* ************ */
/* SESSÃO MEDIA QUERYS */
/* ************ */


@media screen and (max-width:950px){
    
    section.slider{
        width:100%;
        height:450px;
        position:relative;
        background-color: var(--cor1);
    }
    .bullets{
        width:100%;
        position: absolute;
        left:50%;
        top:85%;
        transform:translateX(-50%);
    }
    section.slider img{
        padding:0 1%;
        width:100%;
        height:350px;
    }
    .active-bullets{
        background-color:#222222;
    }
    #videoYT{
        width:100%;
        min-height:300px;
        background-color:var(--cor1);
    }
}

@media screen and (max-width:700px){
    .logo img{
        margin-top:10px;
        width:60px;
    }
    nav.menu-desktop{
        display:none;
    }
    nav.menu-mobile{
        width:100%;
        display:block;
    }
    section.sobre p{
        font-size:14px;
    }
    
    .nome{
        width:210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:5px 0;
    }
    input[type=email]{

        width:300px;
        height:35px;
        color:#333;
        margin:5px;

    }
    textarea{
        width:300px;
        margin:5px;
    }
    .popap{
        display: none;
        position: absolute;
        top:1%;
        left:50%;
        text-align: center;
        border-radius:10px;
        transform:translateX(-50%);
        width:220px;
        height:50px;
        padding:0 2%;
        color: #fff;
        background-color:rgb(13, 179, 21);
        transition:1.5s;
    }
    .popap h3{
        font-size:16px;
        margin:10px 0;
    }

}

@media screen and (max-width:400px){
    .box-jarra img{
        width:180px;
    }
    .box-jarra h3{
        font-size:30px;
    }
    input[type=text],
    input[type=email]{
        width:200px;
    }
    textarea{
        width:200px; 
    }
    
}